<div class="container-fluid bg-info github">
    <nav class="navbar navbar-expand-xl navbar-light">
        <a href="" class="navbar-brand">Github Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleMobileMenu">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav links mx-auto">

                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>

            </ul>
        </div>
    </nav>
</div>