<div class="container mt-2">
    <form>
        <input type="text" name="username" class="form-control" placeholder="Enter the Github username" [(ngModel)]="username" required>
        <button class="btn btn-primary" (click)="search()">Search</button>
    </form>
</div>


<div class="container mt-3">
    <div *ngIf="user">
        <div class="panel panel-default panel1">
            <div class="panel-heading"></div>
            <h3 class="panel-title">{{user.name}}</h3>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <!-- <img class="github-avatar img-thumbnail" src="{{user.avatar_url}}" alt=""> -->
                        <img src="{{user.avatar_url}}" style="width: 280px" class="rounded-circle" alt="">
                    </div>

                    <div class="col-md-8">
                        <div class="stats">
                            <button class="btn btn-success">{{user.public_repos}}public_repos</button>
                            <span class="btn btn-primary">{{user.public_gists}}public_Gists</span>
                            <span class="btn btn-info">{{user.followers}}followers</span>
                            <span class="btn btn-warning">{{user.following}}Following</span>

                        </div>
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
                            <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
                            <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                            <li class="list-group-item"><strong>Member Since: </strong>{{user.created_at}}</li>
                            <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <h3 class="panel-title text-center">{{user.name}}'s Repos</h3>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-12">
                    <div *ngFor="let repo of repos">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                                <p>{{repo.description}}</p>
                            </div>
                            <div class="col-md-3">
                                <span class="btn btn-primary">{{repo.watchers}}Watchers</span>
                                <span class="btn btn-success">{{user.fork}}Fork</span>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>